.fonte {
	font-family: 'Frijole', cursive;
}

.top{
	display: block;
	border: 3px solid green;
}

.middle {
	margin-top: 250px;
}

.footer {
	margin-top: 300px;
}

.imagem {
	position: relative;
}

.texto {
	position: absolute;
	font-family: 'Frijole', cursive;
	background: transparent;
	border: none;
	top: 370px;
	left: 100px;
	margin: 0 auto;
	width: 650px;
	height: 450px;
	font-size: 60px;
	-ms-transform: rotate(-2deg); /* IE 9 */
	transform: rotate(-2deg); /* Standard syntax */
	-webkit-transform: rotate(-2deg); /* Safari */
	white-space: pre-wrap;
	resize: none;
	overflow:  hidden !important;
}